<header class="site-header">
  <div class="float-left">
    <h1 class="site-title"><a href="{{@site.url}}">{{@site.title}}</a></h1>
  </div>

  <div class="float-right">
    {{navigation}}
  </div>
</header>